.background {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(sfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}
