body{
    display: block;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-size:cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;  
}

.social{
    position:fixed;
    top:30%;
    right:1%
}

.social ul{
    position: relative;
    right:0px;
    list-style-type: none;
    padding: 0;
    transform: translatex(+270px);
}

.social ul li{
    display: block;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: left;
    padding: 10px;
    border-radius: 30px 0px 0px 30px;
    transition: all 1s;  /* the transition property the duration of the effect */
}
/* the hover selector helps to style element whenever I mouse over them */
.social ul li:hover{
    /* translatex is a <transform-function> data type which I can use to let my element move horizontally */
    transform: translatex(-110px);
}

.social ul li.twitter:hover{
    background-color: cornflowerblue;
}

.social ul li.facebook:hover{
    background-color: royalblue;
}

.social ul li.linkedin:hover{
    background-color: skyblue;
}

.social ul li.instagram:hover{
    background-color: #e2b3b3;
    background-image: linear-gradient(180deg, #593bdd 0%, rgb(227, 28, 253) 50%, rgb(248, 252, 50) 100%);
}

.social ul li.phonenumber:hover{
    background-color: springgreen;
}

.social ul li a{
    color: white;
    text-decoration: none;
}

.social ul li p{
    color:white;
    margin: 5px;
    margin-left:2px;    
}

.social ul li i{
    text-align: center;
    margin-left: 14px;
    color: black;
    background-color: white;
    padding:10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    transform: rotate(0deg);
}

.social ul li:hover i{
    transform: rotate(360deg);
    transition: all 1s;
}
