.social{
    position:fixed;
    top:30%;
}

.social ul{
    list-style-type: none;
    padding: 0;
    transform: translatex(-270px);
}
.social ul li{
    display: block;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
}

.social ul li:hover{
    transform: translatex(110px);
}

.social ul li.twitter:hover{
    background-color: cornflowerblue;
}

.social ul li.facebook:hover{
    background-color: royalblue;
}
.social ul li.linkedin:hover{
    background-color: skyblue;
}
.social ul li.linkedin:hover{
    background-color: #e2b3b3;
    background-image: linear-gradient(180deg, #e2b3b3 0%, #6284FF 50%, #FF0000 100%);
}

.social ul li.phonenumber:hover{
    background-color: springgreen;
}
.social ul li a{
    color: white;
    text-decoration: none;
}
.social ul li p{
    color:white;
}
.social ul li i{
    text-align: center;
    margin-left: 14px;
    color: black;
    background-color: white;
    padding:10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    transform: rotate(0deg);
}
.social ul li:hover i{
    transform: rotate(360deg);
    transition: all 1s;

}
