
:root{
    --primary-color: #e50914;
    --dark-color: #141414;

}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html, body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #999;
    display: block;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: black;
}
ul{
    list-style: none;
}
h1, h2, h3, h4{
    color: white;
}
a{
    color:white;
    text-decoration: none;
}
.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
   
}
.showcase-content{
    position:relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-top: 9rem;
}
video{
	position:fixed;
	left:0;
        top:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-100;
	visibility: visible;
}
.showcase-content i{
    color:white;
    font-size:50px;
}
.showcase-content h1{
    font-weight: 500;
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 0 0 2rem;
}
.showcase-content p{
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.25rem;
    margin: 0 0 2rem;
}
#mainbutton{
    width: 260px;
    height:75px;
    background: var(--primary-color);
    margin-right:0px;
    font-size: 2rem;
    padding: 1.5rem 1rem;
    text-transform: uppercase;
}
.btn:hover{
    opacity: 0.9;
    color:white;
}
#nav{
    background-color: rgba(0, 0, 0, 0.4);
    height: 70px;
    top:0%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.post-slider{
    position:relative;
  }
  .post-slider .slider-title{
    text-align:center;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
  }
  .post-slider .next{
    position:absolute;
    top:50%;
    right:30px;
    font-size:2em;
    cursor: pointer;
  }
  .post-slider .prev{
    position:absolute;
    top:50%;
    left:30px;
    font-size: 2em;
    cursor:pointer;
  }
  .post-slider .post-wrapper{
    width: 84%;
    height: 500px;
    margin: 0px auto;
    overflow: hidden;
  }
  
  .post-slider .post-wrapper .post{
    background: transparent;
    display: inline-block;
    width:300px;
    height:450px;
    margin:0px 10px;
    box-shadow: 1rem 1rem 1rem -1rem rgb(0,0,0,0.5);
    z-index:0;
  }
  
  .post-slider .post-wrapper .post .slider-image{
    width:100%;
    height:100%;
    object-fit: cover;
    user-select: none;
  }
  h4{
    z-index:5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2px;
    font-size:25px;
    font-family: 'Roboto', sans-serif;
  }
