
.post-slider{
    position:relative;
  }
  .post-slider .slider-title{
    text-align:center;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
  }
  .post-slider .next{
    position:absolute;
    top:50%;
    right:30px;
    font-size:2em;
    cursor: pointer;
  }
  .post-slider .prev{
    position:absolute;
    top:50%;
    left:30px;
    font-size: 2em;
    cursor:pointer;
  }
  .post-slider .post-wrapper{
    width: 84%;
    height: 500px;
    margin: 0px auto;
    overflow: hidden;
  }
  
  .post-slider .post-wrapper .post{
    background: #05f7ff;
    display: inline-block;
    width:300px;
    height:450px;
    margin:0px 10px;
    box-shadow: 1rem 1rem 1rem -1rem rgb(0,0,0,0.5);
    z-index:0;
  }
  
  .post-slider .post-wrapper .post .slider-image{
    width:100%;
    height:100%;
    object-fit: cover;
    user-select: none;
  }
  h4{
    z-index:5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2px;
    font-size:25px;
    font-family: 'Roboto', sans-serif;
  }